.reveal .slides .progress-bar {
    height: 5%;
    list-style: none;
    list-style-type: none;
    display: grid;
    grid-column-gap: 15px;
}

.progress-bar .progress-bar-entry {
    grid-row: 1;
    align-self: center;
    font-size:0.7em;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
}

.progress-bar-hide {
    display: none !important;
}
